@{
    Layout = "_Layout";
}

<h1>Lab 3</h1>

<h3>Welcome to my page</h3>

</br>
040873720
</br></br>

@Html.ActionLink("Razor Example", "Razor", "Home") &nbsp;
@Html.ActionLink("Create Person", "CreateSession", "Home") &nbsp;